body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    border-style: solid;
    border-width: 1px;
    border-color: #5f9341;
    box-sizing: border-box;
    padding: 10px;
    height: 30px;
    width: 100%;
}

button {
    border: solid;
    border-width: 1px;
    color: white;
    background-color: #5f9341;
    font-size: 10;
    margin-top: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

#delete-btn {
    border: solid;
    border-width: 1px;
    color: #5f9341;
    background-color: white;
    font-size: 10;
    margin-top: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

a {
    color:#5f9341;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    margin-top: 5px;
}
